body{
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;

    display: flex;
    flex-direction: column;
    min-height: 100vh
}
.parent{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.main-content{
    flex-grow: 1;
}

footer{
    color: #888888;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0;
}

header{
    margin-top: 16px;
    margin-bottom: 48px;
}

h1{
    font-size: 64px;
    margin-bottom: 16px; 
}

header a{
    color: #888888;
    margin-right: 16px;
    text-decoration: none;

}
.portrait {
    width: 250px;
}
input{
    border-radius: 30px 30px 30px 30px;
    border: 1px solid #cccccc;
    padding: 8px;
    padding-right: 10px;
    padding-left: 10px;
}
button{
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 30px 30px 30px 30px;
    cursor: pointer;
    border: 1px solid #888888;
    background-color: hsl(37, 95%, 56%);
    color: white;
    padding: 8px;
}
